$color_fon: #f2f5f6;
$color_green: #167543;

@media only screen and (max-width: 550px),
only screen  and (max-device-width: 550px) {

body {	
	width: 100%;
	min-width: 385px;	
	.header_chat2{
		display: none;
	}
}
.container_center{
	display: inline-block;	
	width: 100%;
	min-width: 385px;
	background-color: #fff;
	margin: 0;	
 }

.header{
	display: block;
	position: fixed;
	width: 100%;
	height: 109px;
	min-width: 385px;
	background-color: #f2f5f6;
	padding: 0;	
	z-index: 50;
	.header_top{
		display: none;		
	}
	
	.header_chat{
		display: none;
	
	}
	
	.header_menu{
		display: none;
		position: absolute;
		font-size: 15pt;
	}
	
	.header_phone{
		display: none;
		position: absolute;
		font-size: 15pt;
	}
	.header_order{
		display: inline-block;
		position: relative;
		width: 100%;
		right: 0px;
		margin: 0;
		top: 0px;
		background-color: #fff;		
		font-size: 14;
		height: 42px;
		padding: 0;
		li{
			display: inline-block;
			position: relative;
			top: 12px;
			font-size: 12pt;
			margin-left: 13%;
			padding: 0px;
			background: none;
		}
		li:first-child{
			margin-left: 0px;
		}
		a{
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
		}
	}
	img{
		display: block;
		position: absolute;
		top: 55px;
		left: 6%;
	}
	.header_slogan{
		display: none;
		font-size: 15pt;
	}
	.header_button{
		display: block;
		position: absolute;
		top: 58px;
		right: 6%;
		width: 168px;
		padding-top: 8px;
		height: 34px;
		background: url("../img/order2.png") no-repeat;
		font-size: 10pt;
		color: #fff;
		font-family: 'Conv_Futuris_Bold';
		cursor: pointer;
		letter-spacing: 0.1em;
	}
	.header_button2{
		display: none;
	}
	.header_shadow{
		display: block;
		position: absolute;
		top: 109px;
		height: 5px;
		width: 100%;
		background-image:url("../img/header_shadow.png");
	}
}	
/*   BEGIN SCREEN1 */
	.screen1{
		display: block;
		position: relative;
		margin-top: 109px;
		max-width: 1002px;
		width: 100%;
		height: 825px;
		background: none;
		background-color: $color_fon;
		text-align: center;
		overflow: hidden;
		z-index: 1;
		.screen1_fon{
			display: block;
			position: absolute;
			top: 0px;
			max-width: 1002px;
			width: 100%;
			height: 540px;
			background: url("../img/screen1.png") no-repeat;
			background-position: 36% 100%;
			z-index: 2;
		}
		.screen1_coffe_machine{
			height: 540px;
			left: -65px;
			background-position: 50% 100%;
			z-index: 12;
		}
		.screen1_txt{
			display: inline-block;
			position: relative;
			text-align: left;			
			top: 560px;
			left: 3%;
			width: 350px;
			font-size: 30pt;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			z-index: 10;
		}
		.screen1_txt1{
			display: block;
			position: absolute;
			top: 0px;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			z-index: 10;
		}
		.screen1_txt2{
			display: block;
			position: absolute;
			top: 50px;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			font-size: 30pt;
			z-index: 10;
		}
		.screen1_txt3{
			display: block;
			position: absolute;
			top: 110px;
			color: $color_green;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
			z-index: 10;
		}
		.screen1_txt4{
			display: block;
			position: absolute;
			top: 160px;
			left: 0px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt5{
			display: block;
			position: absolute;
			top: 160px;
			left: 258px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt6{
			display: block;
			position: absolute;
			top: 185px;
			left: 0px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt7{
			display: block;
			position: absolute;
			top: 185px;
			left: 170px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt8{			
			font-family: 'Conv_Helvetica_Bold';
			font-size: 13pt;
			z-index: 10;			
		}
		#scr1_property{
			display: block;
			position: absolute;
			top: 455px;
			left: 5px;
			padding: 0px;
			z-index: 20;
			li{
				display: inline-block;
				position: relative;
				width: 68px;
				height: 68px;
				margin-left: 9px;
				background: url(../img/icon/pro.png) no-repeat;
				
			}
			li:first-child{
				background: url(../img/icon/20bar.png) no-repeat;
			}
			li:last-child{
				background: url(../img/icon/italy.png) no-repeat;
			}
		}
		#scr1_table{
			display: block;
			position: absolute;
			bottom: 285px;
			right: 0px;
			max-width: 964px;
			width: 100%;
			height: 74px;
			background: url(../img/scr1_table.png) no-repeat;
			z-index: 3;
		}
		#scr1_coffe{
			display: none;
		}
		#scr1_coffe_shadow{
			display: none;
		}
		#scr1_btn_office{
			display: none;
		}
		#scr1_btn_home{
			display: none;
		}
		
	}	
/*   END SCREEN1   */
/*   BEGIN SCREEN2  */
.screen2{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 1029px;
	background: url("../img/screen2.png") no-repeat;
	background-position: 50% 50%;
	overflow: hidden;
	.scr2_wite{
		display: block;
		position: relative;	
		width: 100%;
		height: 170px;
		background-color: #fefefe;
		text-align: left;
	}
/*  BEGIN text */	
	.scr2_txt1	{
		display: block;
		position: absolute;	
		text-align: left;
		top: 35px;
		width: 96%;
		margin-left: 3%;
		color: #000;
		font-family: 'Conv_Futuris_Bold';
		font-size: 38pt;		
	}
	.scr2_txt2	{
		display: none;
	}
	.scr2_txt3{
		display: none;
	}
	.scr2_left_txt{
		display: block;
		position: absolute;		
		top: 185px;
		width: 100%;
		text-align: left;
		.scr2_txt4{
			display: inline-block;
			position: relative;		
			top: 0px;		
			margin-left: 3%;
			margin-right: 7px;
			color: #2b2b2b;
			font-family: 'helvetica_neue';
			font-size: 18pt;
		}
		.scr2_txt5{
			display: inline-block;
			position: relative;
			top: 0px;
			margin: 0px;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt6{		
			display: inline-block;
			margin-left: 7px;
			color: $color_red;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt7{	
			display: inline-block;
			margin-left: 3%;
			margin-right: 7px;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt8{
			display: inline-block;
			position: relative;		
			top: 0px;
			margin-right: 16%;			
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
	}
	.scr2_right_txt{
		display: block;
		position: absolute;		
		top: 535px;
		width: 100%;	
		margin-left: 0px;
		text-align: left;
		.scr2_txt9{
			display: inline-block;
			position: relative;		
			top: 0px;		
			margin-left: 4%;
			color: #2b2b2b;
			font-family: 'helvetica_neue';
			font-size: 18pt;
		}
		.scr2_txt10{
			display: inline-block;
			position: relative;
			top: 0px;
			margin-left: 7px;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt11{
			display: block;
			position: relative;
			top: 4px;
			margin-left: 4%;
			color: $color_green;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt12{
			display: block;
			position: relative;
			margin-top: 40px;
			margin-left: 4%;
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 16pt;
		}
		.scr2_txt13{
			display: block;
			position: relative;
			margin-left: 4%;
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 16pt;
		}
		.scr2_txt14{
			display: block;
			position: relative;
			width: 160px;
			margin-left: 4%;
			color: $color_red;
			font-family: 'Conv_Futuris_Bold';
			font-size: 24pt;
			background: url(../img/icon/scr2_timer.png) no-repeat;
			background-position: right top;
		}
	
	}	
/*  END text */	
	.scr2_separ{
		display:none;
	}	
	.scr2_arrow{
		display: none;
	}
	.scr2_coffe{
		display: block;
		position: absolute;
		top: 0px;
		height: 268px;
		width: 100%;		
		background: url(../img/scr2_coffe.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	.scr2_coffe_machine2{
		display: block;
		position: absolute;
		top: 610px;
		height: 368px;
		width: 233px;
		left: 45%;
		background: url(../img/coffe_machine2.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	#scr2_coffe2{
		display: block;
		position: absolute;
		top: 315px;
		left: 8%;
		height: 213px;
		width: 86%;
		background: url(../img/scr2_coffe_all.png) no-repeat;
		background-size: contain;
		background-position: bottom;
		z-index: 5;
	}
	#scr2_coffe2_shadow{
		display: none;
	}
	#scr2_coffe3{
		display: none;
	}
	#scr2_coffe3_shadow{
		display: none;
	}


	.scr2_grey{
		display: block;
		position: absolute;	
		bottom: 0px;
		width: 100%;
		height: 170px;
		background-color: #f3f6f7;
	}
	
}		
/*   END SCREEN2   */

/*   BEGIN SCREEN3  */
.screen3{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 955px;
	background: url("../img/screen3.png") no-repeat;
	background-position: center;
	overflow: hidden;	
	text-align: left;
	border-top: 1px solid #d8dee0;
	.scr3_txt1{
		display: inline-block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 25pt;
		margin-right: 10px;
		margin-top: 45px;
		left: 9%;
	}
	.scr3_txt2{
		display: inline-block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 25pt;
		left: 9%;
	}
	.scr3_txt3{
		display: block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 25pt;
		left: 9%;
	}
	
	.scr3_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr3_property{
		display: block;
		position: absolute;
		top: 513px;
		left: 15%;
		text-align: left;
		li{
			display: block;
			position: relative;
			margin-top: 60px;
			font-size: 14pt;
			font-family: 'Conv_Helvetica_Bold';
			color: #393939;
			background: url(../img/icon/scr3_o2.png) no-repeat;
			padding: 3px 0px 0px 55px;
		}
		span{
			display: block;
		}
		li:first-child{
			background: url(../img/icon/scr3_o1.png) no-repeat;
		}
		li:last-child{
			background: url(../img/icon/scr3_o3.png) no-repeat;
		}
	
	}
	.scr3_673{
		display: none;		
	}
	.scr3_txt9{
		display: inline-block;
		position: relative;
		top: 745px;
		height: 21px;
		margin-left: 0px;
		left: 13%;
		font-family: 'Conv_Helvetica_Bold';
		font-size: 13pt;
		background: url(../img/icon/scr3_i.png) no-repeat;
		padding: 3px 0px 0px 35px;
		a{
			color: #393939;
			text-decoration: none;
			border-bottom: 1px dashed #c0c0c0;
		}
	}
	
	
	
	.scr3_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr3_italy{
		display: none;
	}
	.scr3_coffe1{
		display: block;
		position: absolute;
		top: 244px;
		right: 50%;
		width: 128px;
		height: 301px;
		background: url(../img/scr3_coffe1_m.png) no-repeat;
	}
	.scr3_coffe2{
		display: block;
		position: absolute;
		top: 281px;
		left: 50%;
		width: 149px;
		height: 301px;
		background: url(../img/scr3_coffe2_m.png) no-repeat;
	}
	
}		
/*   END SCREEN3   */
/*   BEGIN SCREEN4  */
.screen4{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 2196px;
	background-position: center;
	overflow: hidden;
/*  BEGIN GREEN BLOCK */	
	.scr4_green{
		display: block;
		position: relative;	
		top: 0px;
		left: 0px;
		width: 100%;
		height: 733px;
		background: url("../img/screen4_green.png") no-repeat;
		background-size: 100%;
		text-align: center;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 36pt;
			width: 40%;
			left: 30%;
			top: 27px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_1000{
			display: inline-block;
			position: relative;
			width: 140px;
			min-width: 140px;
			height: 250px;
			top: 118px;	
					
		}
		.img_m{
			display: none;
		}
		.scr4_new{
			display: block;
			position: absolute;
			right: 28%;
			top: 110px;
			width: 50px;
			height: 50px;
			background: url(../img/icon/scr4_new.png) no-repeat;
			font-family: 'Conv_Futuris_Bold';
			padding-top: 17px;
			color: #fff;
			font-size: 10pt;
		}
		ul{
			display: block;
			position: absolute;
			color: #fff;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 375px;
			left: 28%;
			padding: 0px;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
			}
			.green1{
				background: url(../img/icon/scr4_point1.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 650px;
			width: 60%;
			left: 20%;
			height: 28px;
			background: url(../img/scr4_btn.png) no-repeat;
			background-position: center;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}		
	}
/*  BEGIN WHITE BLOCK */	
	.scr4_white{
		display: block;
		position: relative;
		top: 0px;
		left: 0%;
		width: 100%;
		height: 732px;
		background: #fff;
		background-position: right;
		border-top: 1px solid #d8dee0;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 36pt;
			text-align: center;
			width: 60%;
			left: 20%;
			top: 23px;
			color: #393939;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_white_m{		
			display: none;
		}
		.img_white_1000{
			display: inline-block;
			position: relative;
			width: 208px;			
			height: 245px;
			top: 127px;		
			background-position: center;
		}		
		ul{
			display: block;
			position: absolute;
			color: #393939;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 375px;
			left: 25.5%;
			padding: 0px;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
				height: 34px;
			}
			.green1{
				background: url(../img/icon/scr4_piont_1_2.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 650px;
			width: 60%;
			left: 20%;
			height: 28px;
			background: url(../img/scr4_btn.png) no-repeat;
			background-position: center;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}	
	}
/*  END WHITE BLOCK */
/*  BEGIN RED BLOCK */
	.scr4_red{
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 732px;
		background: url("../img/screen4_red.png") no-repeat;
		background-size: 100%;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 34pt;
			width: 60%;
			left: 20%;
			top: 30px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			text-align: center;
		}
		.img_red_m{
			display: none;
		}
		.img_red_1000{
			display: inline-block;
			position: relative;
			width: 181px;			
			height: 245px;
			top: 130px;		
			background-position: center;
		}		
		ul{
			display: block;
			position: absolute;
			color: #fff;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 373px;
			left: 23%;
			padding: 0px;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;				
			}
			.green1{
				background: url(../img/icon/scr4_point1.png) no-repeat;				
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 650px;
			width: 60%;
			left: 20%;
			height: 28px;
			background: url(../img/scr4_btn.png) no-repeat;
			background-position: center;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}	
	}
/*  END RED BLOCK */	
}		
/*   END SCREEN4   */
/*   BEGIN SCREEN5  */
.screen5{
	display: block;
	position: relative;	
	max-width: 1000px;
	width: 100%;
	height: 898px;
	background-color: #fff;
	border: 1px solid #d8dee0;
	background-position: center;
	overflow: hidden;
	text-align: left;
	.scr5_txt1{
		display: block;
		position: absolute; 
		top: 48px;
		left: 7%;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 34pt;
		z-index: 5;
	}
	.scr5_txt2{
		display: block;
		position: absolute; 
		top: 163px;
		left: 8%;
		font-family: 'helvetica-2-ultraligh2ultraLt';
		color: #393939;
		font-size: 28pt;
		z-index: 5;
	}
	.scr5_txt3{
		display: block;
		position: absolute; 
		top: 212px;
		left: 8%;
		font-family: 'helvetica-2-ultraligh2ultraLt';
		color: #393939;
		font-size: 29pt;
		z-index: 5;
	}
	.scr5_txt4{
		display: block;
		position: absolute; 
		top: 262px;
		left: 7%;
		font-family: 'Conv_Futuris_Bold';
		color: $color_red;
		font-size: 39pt;
		z-index: 5;
	}
	.scr5_txt5{
		display: block;
		position: absolute; 
		top: 325px;
		left: 7%;
		font-family: 'Conv_Futuris_Bold';
		color: $color_green;
		font-size: 39pt;
		z-index: 5;
	}
	.scr5_txt6{
		display: block;
		position: absolute; 
		top: 395px;
		height: 60px;
		left: 10%;
		font-family: 'helvetica_neue';
		color: #393939;
		font-size: 14pt;
		background: url(../img/scr5_p10_s.png) no-repeat;
		padding: 16px 0px 0px 65px;
		z-index: 5;
	}
	.scr5_btn{
		display: block;
		position: absolute; 
		top: 625px;
		width: 50%;
		height: 39px;
		left: 25%;
		font-family: 'Conv_Futuris_Bold';
		color: #fff;
		font-size: 12pt;
		background: url(../img/scr5_btn.png) no-repeat;
		background-position: center;
		padding-top: 10px;
		z-index: 5;
	}
	.scr5_coffes{
		display: block;
		position: absolute; 
		top: 10px;
		width: 478px;
		height: 597px;
		left: 39%;
		background: url(../img/scr5_coffes.png) no-repeat;
		z-index: 4;
	}
	.scr5_coffe_cap{
		display: block;
		position: absolute; 
		bottom: 0px;
		width: 100%;
		height: 393px;
		left: 0%;
		background: url(../img/scr5_coffe_cap.png) no-repeat;
		background-position: center;
		z-index: 2;
	}
	.scr5_caps{
		display: block;
		position: absolute; 
		top: 455px;
		left: 27%;
		width: 255px;
		height: 31px;
		background: url(../img/scr5_caps.png) no-repeat;
		background-size: 100%;
		z-index: 3;
	}
}		
/*   END SCREEN5   */
/*   BEGIN FOOTER  */
	.footer{
		display: block;
		position: relative;	
		max-width: 1002px;
		width: 100%;
		height: 185px;
		background-position: center;
		.footer_order{
			display: none;			
		}
		.footer_phone{
			display: block;
			position: absolute;
			top: 7px;
			width: 96%;			
			left: 2%;
			color: #177343;
			font-size: 10pt;
			font-family: 'Conv_Helvetica_Bold';
			padding: 0;
			li{
				display: inline-block;
				position: relative;
				height: 21px;
				background: url("../img/footer_separ.png") no-repeat;
				padding: 3px 0px 0px 15px;
				margin-left: 7px;
			}
			.footer_phone1{
				padding-left: 15px;
				background: url("../img/icon/tel1.png") no-repeat;
			}
			.footer_phone2{
				display: inline-block;
				padding-left: 17px;
				background: url("../img/icon/tel2.png") no-repeat;
				height: 21px;
			}
			li:first-child{
				background: none;
				margin-left: 0px;
			}
		}
		.footer_social{
			display: inline-block;
			position: relative; 
			background: url(../img/social_smal.png) no-repeat;
			top: 65px;
			width: 305px;
			height: 22px;
		}
		.footer_copyrite{
			display: block;
			position: relative; 
			font-family: 'helvetica_neue';
			color: #7c7c7c;
			top: 75px;
			font-size: 10pt;
		}
		.footer_menu{
			display: block;
			position: absolute;
			text-align: center;
			width: 70%;
			right: 15%;
			top: 153px;
			padding: 0px;
			a{
				font-size: 8pt;
				font-family: 'futuriscyrillic';
				font-weight: 900;
				color: #777;
				text-decoration: none;
			}
			li{
				display: inline-block;
				margin-left: 15px;
			}
			li:first-child{
				margin-left: 0px;
			}
		}
	}
/*   END FOOTER    */


}


