$color_fon: #f2f5f6;
$color_green: #167543;

@media only screen and (min-width: 551px) and (max-width: 879px),
only screen  and (min-device-width: 551px) and (max-device-width: 879px){

body{
	.header_chat2{
		display: none;
	}
}

.container_center{
	display: inline-block;
	
	width: 100%;
	max-width: 1002px;
 }

.header{
	display: block;
	position: fixed;
	width: 100%;
	height: 115px;	
	background-color: #f2f5f6;
	text-align: left;
	padding: 0;	
	z-index: 20;
	.header_top{
		display: block;
		height: 49px;
		width: 100%;
		background-color: #fff;
	}	
	.header_phone{
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		color: #177343;
		font-size: 10pt;
		font-family: 'Conv_Helvetica_Bold';
		padding: 0;
		li{
			display: inline-block;
			position: relative;
			height: 21px;
			background: url("../img/header_separ.png") no-repeat;
			padding: 3px 0px 0px 15px;
			margin-left: 7px;
		}
		.header_phone1{
			padding-left: 15px;
			background: url("../img/icon/tel1.png") no-repeat;
		}
		.header_phone2{
			display: inline-block;
			padding-left: 17px;
			background: url("../img/icon/tel2.png") no-repeat;
			height: 21px;
		}
		li:first-child{
			background: none;
			margin-left: 0px;
		}
	}
	
	.header_order{
		display: block;
		position: absolute;
		top: 82px;
		right: 5px;
		width: 370px;
		margin: 0;
		
		font-size: 14;
		height: 42px;		
		li{
			display: inline-block;
			position: relative;
			top: 10 px;
			font-size: 12pt;
			margin-left: 40px;
			padding-left: 15px;
			background: url("../img/icon/header_separ2.png") no-repeat;
		}
		li:first-child{
			margin-left: 0;
		}
		a{
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
		}
	}
	img{
		display: block;
		position: absolute;
		top: 64px;
		left: 20px;
	}
	.header_slogan{
		display: none;
	}
	
	.header_button{
		display: block;
		position: absolute;
		top: 7px;
		right: 15px;
		width: 168px;
		height: 34px; 		
		font-size: 11pt;
		color: #fff;
		background: url("../img/order2.png") no-repeat;
		font-family: 'Conv_Futuris_Bold';
		font-family: 'futuriscyrillic';
		text-align: center;
		font-weight: 900;
		padding-top: 8px;
		cursor: pointer;
	}	
	.header_button2{
		display: none;
	}
	.header_shadow{
		display: block;
		position: absolute;
		top: 115px;
		height: 5px;
		width: 100%;
		background-image:url("../img/header_shadow.png");
	}
}

/*   BEGIN SCREEN1 */
	.screen1{
		display: block;
		position: relative;
		margin-top: 115px;
		max-width: 1002px;
		width: 100%;
		height: 626px;
		background: url("../img/screen1.png") no-repeat;
		background-position: center;
		.screen1_coffe_machine{
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 394px;
			height: 626px;
			background: url("../img/coffe_machine.png") no-repeat;
			z-index: 4;
		}
		.screen1_txt{
			display: block;
			position: absolute;
			text-align: left;			
			top: 60px;
			right: 4%;
			width: 350px;
			font-size: 30pt;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			z-index: 10;
		}
		.screen1_txt1{
			display: block;
			position: absolute;
			top: 0px;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			z-index: 10;
		}
		.screen1_txt2{
			display: block;
			position: absolute;
			top: 50px;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			font-size: 30pt;
			z-index: 10;
		}
		.screen1_txt3{
			display: block;
			position: absolute;
			top: 110px;
			color: $color_green;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
			z-index: 10;
		}
		.screen1_txt4{
			display: block;
			position: absolute;
			top: 190px;
			left: 50px;
			color: #000;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt5{
			display: block;
			position: absolute;
			top: 210px;
			left: 50px;
			color: #000;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt6{
			display: block;
			position: absolute;
			top: 210px;
			left: 67px;
			color: #000;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt7{
			display: block;
			position: absolute;
			top: 230px;
			left: 50px;
			color: #000;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt8{			
			font-family: 'Conv_Helvetica_Bold';
			font-size: 13pt;	
			z-index: 10;		
		}
		#scr1_property{
			display: block;
			position: absolute;
			top: 536px;
			left: 35px;
			padding: 0px;
			z-index: 5;
			li{
				display: inline-block;
				position: relative;
				width: 68px;
				height: 68px;
				margin-left: 9px;
				background: url(../img/icon/pro.png) no-repeat;
				
			}
			li:first-child{
				background: url(../img/icon/20bar.png) no-repeat;
			}
			li:last-child{
				background: url(../img/icon/italy.png) no-repeat;
			}
		}
		#scr1_table{
			display: block;
			position: absolute;
			bottom: 0px;
			right: 0px;
			max-width: 964px;
			width: 100%;
			height: 74px;
			background: url(../img/scr1_table.png) no-repeat;
		}
		#scr1_coffe{
			display: block;
			position: absolute;
			left: 377px;
			top: 492px;
			width: 201px;
			height: 130px;
			background: url(../img/scr1_coffe.png) no-repeat;
			z-index: 3;
		}
		#scr1_coffe_shadow{
			display: block;
			position: absolute;
			left: 323px;
			top: 552px;
			width: 236px;
			height: 75px;
			background: url(../img/scr1_coffe_shadow.png) no-repeat;
			z-index: 2;
		}
		#scr1_btn_office{
			display: none;
		}
		#scr1_btn_home{
			display: none;
		}
		
		
	}	
/*   END SCREEN1   */
/*   BEGIN SCREEN2  */
.screen2{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 699px;
	background: url("../img/screen2.png") no-repeat;
	background-position: center;
	overflow: hidden;
	.scr2_txt1	{
		display: block;
		position: absolute;		
		top: 65px;
		width: 100%;
		/*margin-left: 2%;*/
		margin: 0px;
		color: #000;
		font-family: 'Conv_Futuris_Bold';
		font-size: 34pt;		
	}
	.scr2_txt2	{
		display: block;
		position: absolute;		
		top: 133px;
		width: 100%;
		margin-left: 0;
		color: $color_green;
		font-family: 'helvetica-2-ultraligh2ultraLt';
		font-family: 'helvetica_neue';
		font-size: 14pt;
	}
	.scr2_txt3{
		display: block;
		position: absolute;		
		top: 158px;
		width: 70%;
		margin-left: 15%;
		color: $color_green;		
		font-family: 'helvetica_neue';
		font-size: 14pt;
	}
	.scr2_left_txt{
		display: block;
		position: absolute;		
		top: 275px;
		width: 50%;
		text-align: right;
		.scr2_txt4{
			display: block;
			position: relative;		
			top: 0px;		
			margin-right: 16%;
			color: #2b2b2b;
			font-family: 'helvetica_neue';
			font-size: 18pt;
		}
		.scr2_txt5{
			display: inline-block;
			position: relative;
			top: 0px;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt6{		
			margin-left: 7px;
			color: $color_red;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt7{		
			margin-right: 16%;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt8{
			display: block;
			position: relative;		
			top: 0px;
			margin-right: 16%;			
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
	}
	.scr2_right_txt{
		display: block;
		position: absolute;		
		top: 275px;
		width: 50%;
		margin-left: 50%;
		text-align: left;
		.scr2_txt9{
			display: block;
			position: relative;		
			top: 0px;		
			margin-left: 16%;
			color: #2b2b2b;
			font-family: 'helvetica_neue';
			font-size: 18pt;
		}
		.scr2_txt10{
			display: inline-block;
			position: relative;
			top: 0px;
			margin-left: 16%;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt11{
			display: block;
			position: relative;
			top: 0px;
			margin-left: 16%;
			color: $color_green;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 18pt;
		}
		.scr2_txt12{
			display: block;
			position: relative;
			margin-top: 40px;
			margin-left: 16%;
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 16pt;
		}
		.scr2_txt13{
			display: block;
			position: relative;
			margin-left: 16%;
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 16pt;
		}
		.scr2_txt14{
			display: block;
			position: relative;
			width: 160px;
			margin-left: 16%;
			color: $color_red;
			font-family: 'Conv_Futuris_Bold';
			font-size: 24pt;
			background: url(../img/icon/scr2_timer.png) no-repeat;
			background-position: right top;
		}
	
	}
	.scr2_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr2_arrow{
		display: block;
		position: absolute;
		top: 425px;
		left: 43%;
		height: 57px;
		width: 14%;		
		background: url(../img/icon/scr2_arrow.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	.scr2_coffe{
		display: block;
		position: absolute;
		top: 0px;
		height: 268px;
		width: 100%;		
		background: url(../img/scr2_coffe.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	.scr2_coffe_machine2{
		display: block;
		position: absolute;
		top: 252px;
		height: 368px;
		width: 233px;
		left: 80%;
		background: url(../img/coffe_machine2.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	#scr2_coffe2{
		display: block;
		position: absolute;
		top: 513px;
		left: 14.5%;
		width: 26%;
		height: 114px;
		background: url(../img/scr2_coffe2.png) no-repeat;
		background-size: contain;
		background-position: bottom;
		z-index: 5;
	}
	#scr2_coffe2_shadow{
		display: block;
		position: absolute;
		top: 569px;
		left: 16%;
		width: 23%;
		height: 18%;
		background: url(../img/scr2_coffe2_shadow.png) no-repeat;
		background-size: contain;
		background-position: center ;
		z-index: 3;
	}
	#scr2_coffe3{
		display: block;
		position: absolute; 
		top: 445px;
		left: 10%;
		width: 33%;
		height: 132px;
		background: url(../img/scr2_coffe3.png) no-repeat;
		background-size: contain;
		background-position: bottom;
		z-index: 4;
	}
	#scr2_coffe3_shadow{
		display: block;
		position: absolute;
		top: 573px;
		left: 10.7%;
		width: 32%;
		height: 132px;
		background: url(../img/scr2_coffe3_shadow.png) no-repeat;
		background-size: contain;
		background-position: top;
	}
	

	
}		
/*   END SCREEN2   */

/*   BEGIN SCREEN3  */
.screen3{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 701px;
	background: url("../img/screen3.png") no-repeat;
	background-position: center;
	overflow: hidden;
	.scr3_txt1{
		display: inline-block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 29pt;
		margin-right: 10px;
		margin-top: 45px;
	}
	.scr3_txt2{
		display: inline-block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 29pt;
	}
	.scr3_txt3{
		display: block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 29pt;
	}
	
	.scr3_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr3_property{
		display: block;
		position: absolute;
		top: 235px;
		left: 17px;
		text-align: left;
		li{
			display: block;
			position: relative;
			height: 37px;
			margin-top: 50px;
			font-size: 11pt;
			font-family: 'Conv_Helvetica_Bold';
			color: #393939;
			background: url(../img/icon/scr3_o2_m.png) no-repeat;
			padding: 0px 0px 0px 50px;
		}
		span{
			display: block;
		}
		li:first-child{
			background: url(../img/icon/scr3_o1_m.png) no-repeat;
		}
		li:last-child{
			background: url(../img/icon/scr3_o3_m.png) no-repeat;
		}
	
	}
	.scr3_673{
		display: block;
		position: absolute;
		top: 465px;
		width: 205px;
		right: 2%;
		text-align: left;
		.scr3_txt4{
			display: inline-block;
			position: relative;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 30pt;
			color: $color_red;			
		}
		.scr3_txt5{
			display: inline-block;
			position: relative;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 30pt;
			color: $color_green;			
		}
		.scr3_txt6{
			display: inline-block;
			position: relative;
			margin-left: 0px;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 14pt;
			color: #393939;			
		}
		.scr3_txt7{
			display: inline-block;
			position: relative;
			margin-left: 7px;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 14pt;
			color: #393939;			
		}
		.scr3_txt8{
			display: inline-block;
			position: relative;
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;	
			font-size: 14pt;
			color: #393939;		
			margin-left: 0px;
		}
	}
	.scr3_txt9{
		display: inline-block;
		position: relative;
		top: 505px;
		height: 21px;
		margin-left: 60px;
		font-family: 'Conv_Helvetica_Bold';
		font-size: 13pt;
		background: url(../img/icon/scr3_i.png) no-repeat;
		padding: 3px 0px 0px 35px;
		a{
			color: #393939;
			text-decoration: none;
			border-bottom: 1px dashed #c0c0c0;
		}
	}
	
	
	
	.scr3_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr3_italy{
		display: block;
		position: absolute;
		top: 185px;
		right: 5%;
		width: 192px;
		height: 256px;
		background: url(../img/scr3_italy_m.png) no-repeat;
	}
	.scr3_coffe1{
		display: block;
		position: absolute;
		top: 244px;
		right: 50%;
		width: 128px;
		height: 301px;
		background: url(../img/scr3_coffe1_m.png) no-repeat;
	}
	.scr3_coffe2{
		display: block;
		position: absolute;
		top: 281px;
		left: 50%;
		width: 149px;
		height: 301px;
		background: url(../img/scr3_coffe2_m.png) no-repeat;
	}

	
}		
/*   END SCREEN3   */
.screen4{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 1689px;
	overflow: hidden;
/*  BEGIN GREEN BLOCK*/	
	.scr4_green{
		display: block;
		position: relative;	
		width: 100%;
		height: 563px;
		background: url("../img/screen4_green_m.png") no-repeat;
		background-position: left;
		background-size: cover;
		/*text-align: center;*/
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 36pt;
			width: 30%;
			left: 13%;
			top: 70px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			text-align: left;
		}
		.img_1000{
			display: none;
		}
		.img_m{
			display: inline-block;
			position: absolute;
			width: 284px;
			height: 528px;
			right: 0px;
			top: 0px;		
		}
		.scr4_new{
			display: block;
			position: absolute;			
			right: 255px;
			top: 95px;
			width: 50px;
			height: 50px;
			background: url(../img/icon/scr4_new.png) no-repeat;
			font-family: 'Conv_Futuris_Bold';
			padding-top: 17px;
			color: #fff;
			font-size: 10pt;
		}
		ul{
			display: block;
			position: absolute;
			color: #fff;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 150px;
			left: 8%;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
			}
			.green1{
				background: url(../img/icon/scr4_point1.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 435px;
			width: 30%;
			left: 60px;
			height: 28px;
			background: url(../img/scr4_btn.png) no-repeat;
			background-position: center;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}		
	}
/*  BEGIN WHITE BLOCK */	
	.scr4_white{
		display: block;
		position: relative;
		width: 100%;
		height: 563px;
		background: #fff;
		background-position: right;
		border-top: 1px solid #d8dee0;
		left: 0px;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 36pt;
			width: 40%;
			left: 52%;
			top: 85px;
			color: #393939;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_white_1000{
			display: none;
		}
		.img_white_m{
			display: block;
			position: relative;
			width: 307px;			
			height: 481px;
			top: 45px;
			left: 0;
			background-position: left;
		}		
		ul{
			display: block;
			position: absolute;
			color: #393939;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 160px;
			left: 55%;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
				height: 34px;
			}
			.green1{
				background: url(../img/icon/scr4_piont_1_2.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 435px;
			width: 30%;
			left: 55%;
			height: 28px;
			background: url(../img/scr4_btn.png) no-repeat;
			background-position: center;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}	
	}
/*  END WHITE BLOCK */
/*  BEGIN RED BLOCK */
	.scr4_red{
		display: block;
		position: relative;	
		width: 100%;
		height: 563px;
		background: url("../img/screen4_red_m.png") no-repeat;
		background-position: left;
		left: 0px;
		background-size: cover;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 35pt;
			width: 40%;
			left: 7%;
			top: 80px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_red_1000{
			display: none;
		}
		.img_red_m{
			display: inline-block;
			position: absolute;
			width: 328px;			
			height: 480px;
			top: 49px;		
			right: 0px;
			background-position: center;
		}		
		ul{
			display: block;
			position: absolute;
			color: #fff;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 157px;
			left: 8.3%;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
			}
			.green1{
				background: url(../img/icon/scr4_point1.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 435px;
			width: 25%;
			left: 10.4%;
			height: 28px;
			background: url(../img/scr4_btn.png) no-repeat;
			background-position: center;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}	
	}
/*  END RED BLOCK */	
	
		
}		
/*   END SCREEN4   */
/*   BEGIN SCREEN5  */
.screen5{
	display: block;
	position: relative;	
	max-width: 1000px;
	width: 100%;
	height: 700px;
	background-color: #fff;
	border: 1px solid #d8dee0;
	background-position: center;
	overflow: hidden;
	text-align: left;
	.scr5_txt1{
		display: block;
		position: absolute; 
		top: 85px;
		left: 7%;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 40pt;
		z-index: 5;
	}
	.scr5_txt2{
		display: block;
		position: absolute; 
		top: 185px;
		left: 7%;
		font-family: 'helvetica-2-ultraligh2ultraLt';
		color: #393939;
		font-size: 32pt;
		z-index: 5;
	}
	.scr5_txt3{
		display: block;
		position: absolute; 
		top: 235px;
		left: 7%;
		font-family: 'helvetica-2-ultraligh2ultraLt';
		color: #393939;
		font-size: 32pt;
		z-index: 5;
	}
	.scr5_txt4{
		display: block;
		position: absolute; 
		top: 290px;
		left: 7%;
		font-family: 'Conv_Futuris_Bold';
		color: $color_red;
		font-size: 36pt;
		z-index: 5;
	}
	.scr5_txt5{
		display: block;
		position: absolute; 
		top: 355px;
		left: 7%;
		font-family: 'Conv_Futuris_Bold';
		color: $color_green;
		font-size: 36pt;
		z-index: 5;
	}
	.scr5_txt6{
		display: block;
		position: absolute; 
		top: 446px;
		height: 60px;
		left: 51%;
		font-family: 'helvetica_neue';
		color: #393939;
		font-size: 17pt;
		background: url(../img/scr5_p10.png) no-repeat;
		padding: 16px 0px 0px 70px;
		z-index: 5;
	}
	.scr5_btn{
		display: block;
		position: absolute; 
		top: 575px;
		width: 149px;
		height: 39px;
		left: 8%;
		font-family: 'Conv_Futuris_Bold';
		color: #fff;
		font-size: 12pt;
		background: url(../img/scr5_btn.png) no-repeat;
		padding-top: 10px;
		z-index: 5;
	}
	.scr5_coffes{
		display: block;
		position: absolute; 
		top: 10px;
		width: 478px;
		height: 597px;
		left: 39%;
		background: url(../img/scr5_coffes.png) no-repeat;
		z-index: 4;
	}
	.scr5_coffe_cap{
		display: block;
		position: absolute; 
		bottom: 0px;
		width: 468px;
		height: 393px;
		left: 59.5%;
		background: url(../img/scr5_coffe_cap.png) no-repeat;
		z-index: 2;
	}
	.scr5_caps{
		display: block;
		position: absolute; 
		top: 463px;
		left: 7%;
		width: 303px;
		height: 31px;
		background: url(../img/scr5_caps.png) no-repeat;
		z-index: 3;
	}
}		
/*   END SCREEN5   */
/*   BEGIN FOOTER  */
	.footer{
		display: block;
		position: relative;	
		max-width: 1002px;
		width: 100%;
		height: 126px;
		text-align: center;
		.footer_order{
			display: none;
			
		}
		.footer_social{
			display: inline-block;
			position: relative; 
			background: url(../img/social.png) no-repeat;
			top: 40px;
			width: 493px;
			height: 22px;
		}
		.footer_copyrite{
			display: block;
			position: relative; 
			font-family: 'helvetica_neue';
			color: #7c7c7c;
			top: 55px;
			font-size: 10pt;
		}
		.footer_menu{
			display: none;
		}
		.footer_phone{
			display: none;
		}
	}
/*   END FOOTER    */

}