$color_fon: #f2f5f6;
$color_green: #167543;
$color_red: #d80101;

@media only screen and (min-width: 880px) and (max-width: 3960px),
only screen  and (min-device-width: 880px) and (max-device-width: 3960px){

 body{
	
	background-color: #f2f5f6;	
	text-align:  center;
	font-size: 0pt;
	.header_chat2{
		display: block;
		position: fixed;
		left: 0%;
		bottom: 10%;
		width: 37px;
		height: 156px;
		background: url(../img/icon/chat_main.png) no-repeat;
		z-index: 100;
		cursor: pointer;
		
	}
 }
 .container_center{
	display: inline-block;
	
	width: 98%;
	max-width: 1002px;
 }

.header{
	display: block;
	position: fixed;
	margin-left: 0px;
	top: 0px;
	width: 98%;
	height: 95px;
	max-width: 1002px;
	background-color: #f2f5f6;
	text-align: center;
	padding: 0px;
	z-index: 20;
	.header_top{
		display: none;
		height: 49px;
		width: 100%;
		background-color: #fff;
	}
	.tmp{
		display: none;
		position: absolute;
		font-size: 30pt;
	}
	.header_chat{
		display: none;		
	}
	/*.header_chat2{
		display: block;
		position: relative;
		left: -10%;
		top: 300px;
		width: 37px;
		height: 156px;
		background: url(../img/icon/chat_main.png) no-repeat;
		cursor: pointer;
	} */
	.header_menu{
		display: block;
		position: absolute;
		text-align: left;
		right: 365px;
		top: 16px;
		a{
			font-size: 9pt;
			font-family: 'Conv_Helvetica_Bold';
			width: 313px;
			color: #737373;
			text-decoration: none;
		}
		li{
			display: inline-block;
			margin-left: 15px;
		}
	}
	
	.header_phone{
		display: block;
		position: absolute;
		right: 0px;
		color: #177343;
		font-size: 10pt;
		font-family: 'Conv_Helvetica_Bold';
		li{
			display: inline-block;
			position: relative;
			height: 21px;
			background: url("../img/header_separ.png") no-repeat;
			padding: 3px 0px 0px 15px;
			margin-left: 7px;
		}
		.header_phone1{
			padding-left: 15px;
			background: url("../img/icon/tel1.png") no-repeat;
		}
		.header_phone2{
			display: inline-block;
			padding-left: 17px;
			background: url("../img/icon/tel2.png") no-repeat;
			height: 21px;
		}
	}
	
	.header_order{
		display: block;
		position: absolute;
		top: 62px;
		right: 0px;
		width:400px;
		text-align: right;
		margin: 0;
		
		font-size: 14;
		height: 42px;		
		li{
			display: inline-block;
			position: relative;
			top: 12 px;
			font-size: 12pt;
			margin-left: 40px;
			padding-left: 20px;
			background: url("../img/icon/header_separ2.png") no-repeat;
		}
		li:first-child{
			margin-left: 0;
			/*background: url("../img/icon/header_separ2.png") no-repeat 0px -23px;			*/
		}
		a{
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
		}
		/*li:first-child a{
			color: $color_red;
		} */
	}
	img{
		display: block;
		position: absolute;
		top: 44px;
		left: 0px;
	}
	.header_slogan{
		display: block;
		position: absolute;
		top: 66px;
		left: 145px;
		font-size: 10pt;
		font-family: 'Conv_Futuris_Bold';
		font-weight: 900;
		color: #909090;
	}
	
	.header_button{
		display: none;
	}	
	.header_button2{
		display: block;
		position: absolute;
		top: 130px;
		right: -1.5%;
		width: 102px;
		height: 102px; 
		background: url("../img/icon/order_main.png") no-repeat;
		font-size: 14pt;
		color: #fff;
		cursor: pointer;
		z-index: 90;
	}	
	.header_basket{
		display: block;
		position: absolute;
		top: 130px;
		right: -1.5%;
		width: 102px;
		height: 102px; 
		background: url("../img/icon/basket.png") no-repeat;
		cursor: pointer;
		.header_basket_number{
			display: block;			
			position: absolute;
			top: 10px;
			left: 77px;
			height: 23px;
			width: 23px;
			font-size: 11pt;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			
			background: url("../img/icon/basket_number_fon.png") no-repeat;
			padding-top: 2px;
		}
		
	}	
	.header_shadow{
		display: block;
		position: absolute;
		top: 95px;
		height: 5px;
		width: 100%;
		background-image: url("../img/header_shadow.png");
		z-index: 20;
	}
}
/*   BEGIN SCREEN1 */
	.screen1{
		display: block;
		position: relative;
		margin-top: 95px;
		max-width: 1002px;
		width: 100%;
		height: 626px;
		background: url("../img/screen1_all.jpg") 0% no-repeat;
		/*background-position: center;*/
		overflow: hidden;
		.screen1_coffe_machine{
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 394px;
			height: 626px;
			background: url("../img/coffe_machine.png") no-repeat;
			z-index: 4;
		}
		.screen1_txt{
			display: block;
			position: absolute;
			text-align:  left;			
			top: 130px;
			width: 520px;
			right: 3%;
			font-size: 42pt;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			z-index: 10;
		}
		.screen1_txt1{
			display: block;
			position: absolute;
			top: 0px;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			z-index: 10;
		}
		.screen1_txt2{
			display: block;
			position: absolute;
			top: 70px;
			color: #000;
			font-family: 'Conv_Futuris_Bold';
			font-size: 42pt;
			z-index: 10;
		}
		.screen1_txt3{
			display: block;
			position: absolute;
			top: 140px;
			color: $color_green;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 30pt;
			z-index: 10;
		}
		.screen1_txt4{
			display: block;
			position: absolute;
			top: 240px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt5{
			display: block;
			position: absolute;
			top: 240px;
			left: 245px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt6{
			display: block;
			position: absolute;
			top: 265px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt7{
			display: block;
			position: absolute;
			top: 265px;
			left: 160px;
			color: #000;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 13pt;
			z-index: 10;
		}
		.screen1_txt8{
			font-family: 'Conv_Helvetica_Bold';
			font-size: 13pt;
			z-index: 10;			
		}
		#scr1_property{
			display: block;
			position: absolute;
			top: 536px;
			left: 35px;
			padding: 0px;
			z-index: 5;
			li{
				display: inline-block;
				position: relative;
				width: 68px;
				height: 68px;
				margin-left: 9px;
				background: url(../img/icon/pro.png) no-repeat;
				
			}
			li:first-child{
				background: url(../img/icon/20bar.png) no-repeat;
			}
			li:last-child{
				background: url(../img/icon/italy.png) no-repeat;
			}
		}
		#scr1_table{
			display: block;
			position: absolute;
			bottom: 0px;
			right: 0px;
			max-width: 964px;
			width: 100%;
			height: 74px;
			background: url(../img/scr1_table.png) no-repeat;
		}
		#scr1_coffe{
			display: block;
			position: absolute;
			left: 377px;
			top: 492px;
			width: 201px;
			height: 130px;
			background: url(../img/scr1_coffe.png) no-repeat;
			z-index: 3;
		}
		#scr1_coffe_shadow{
			display: block;
			position: absolute;
			left: 323px;
			top: 552px;
			width: 236px;
			height: 75px;
			background: url(../img/scr1_coffe_shadow.png) no-repeat;
			z-index: 2;
		}
		#scr1_btn_office{
			display: block;
			position: absolute;
			top: 540px;
			right: 110px;
			border: 1px solid #000;
			width: 84px;
			height: 64px;			
			color: #000;
			font-size: 12pt;
			text-align: center;
			font-family: 'Conv_Futuris_Bold';
			line-height: 64px;
			vertical-align: center;
			cursor: pointer;
		}
		#scr1_btn_home{
			display: block;
			position: absolute;
			top: 540px;
			right: 25px;
			border: 1px solid #000;
			width: 84px;
			height: 64px;
			background: none;
			color: #000;
			font-size: 12pt;
			text-align: center;
			font-family: 'Conv_Futuris_Bold';
			line-height: 64px;
			vertical-align: center;
			cursor: pointer;
			background: url(../img/scr1_home.png) no-repeat;
		}
		#scr1_btn_m{
			display: none;
		}
		
		
		
	}
/*   END SCREEN1   */
/*   BEGIN SCREEN2  */
.screen2{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 699px;
	background: url("../img/screen2.png") no-repeat;
	background-position: center;
	border-top: 1px solid #d8dee0;
	overflow: hidden;
	.scr2_txt1	{
		display: block;
		position: absolute;		
		top: 65px;
		width: 80%;
		margin-left: 10%;
		color: #000;
		font-family: 'Conv_Futuris_Bold';
		font-size: 34pt;
		z-index: 10;		
	}
	.scr2_txt2	{
		display: block;
		position: absolute;		
		top: 133px;
		width: 70%;
		margin-left: 15%;
		color: $color_green;
		font-family: 'helvetica-2-ultraligh2ultraLt';
		font-family: 'helvetica_neue';
		font-size: 14pt;
		z-index: 10;		
	}
	.scr2_txt3{
		display: block;
		position: absolute;		
		top: 158px;
		width: 70%;
		margin-left: 15%;
		color: $color_green;		
		font-family: 'helvetica_neue';
		font-size: 14pt;
		z-index: 10;		
	}
	.scr2_left_txt{
		display: block;
		position: absolute;		
		top: 275px;
		width: 50%;
		text-align: right;
		left: -60%;  /* default = )%  */
		.scr2_txt4{
			display: block;
			position: relative;		
			top: 0px;		
			margin-right: 12%;
			color: #2b2b2b;
			font-family: 'helvetica_neue';
			font-size: 22pt;
		}
		.scr2_txt5{
			display: inline-block;
			position: relative;
			top: 0px;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
		}
		.scr2_txt6{		
			margin-left: 7px;
			color: $color_red;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
		}
		.scr2_txt7{		
			margin-right: 12%;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
		}
		.scr2_txt8{
			display: block;
			position: relative;		
			top: 0px;
			margin-right: 12%;			
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
		}
	}
	.scr2_right_txt{
		display: block;
		position: absolute;		
		top: 275px;
		width: 50%;
		margin-left: 50%;
		text-align: left;
		left: 70%;    /*   def 0% */
		.scr2_txt9{
			display: block;
			position: relative;		
			top: 0px;		
			margin-left: 12%;
			color: #2b2b2b;
			font-family: 'helvetica_neue';
			font-size: 22pt;
		}
		.scr2_txt10{
			display: inline-block;
			position: relative;
			top: 0px;
			margin-left: 12%;
			color: #2b2b2b;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
		}
		.scr2_txt11{
			display: block;
			position: relative;
			top: 0px;
			margin-left: 12%;
			color: $color_green;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 22pt;
		}
		.scr2_txt12{
			display: block;
			position: relative;
			margin-top: 40px;
			margin-left: 12%;
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 17pt;
			opacity: 0; 
		}
		.scr2_txt13{
			display: block;
			position: relative;
			margin-left: 12%;
			color: #000;
			font-family: 'Conv_Helvetica_Bold';
			font-size: 17pt;
			opacity: 0; 
		}
		.scr2_txt14{
			display: block;
			position: relative;
			width: 160px;
			margin-left: 12%;
			color: $color_red;
			font-family: 'Conv_Futuris_Bold';
			font-size: 26pt;
			background: url(../img/icon/scr2_timer.png) no-repeat;
			background-position: right top;
			opacity: 0; 
		}	
	}
	.scr2_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr2_arrow{
		display: block;
		position: absolute;
		top: 425px;
		left: 43%;
		height: 57px;
		width: 14%;		
		background: url(../img/icon/scr2_arrow.png) no-repeat;
		background-position: center;
		z-index: 6;
		opacity: 0; 
	}
	.scr2_coffe{
		display: block;
		position: absolute;
		top: -130px;
		height: 268px;
		width: 100%;		
		background: url(../img/scr2_coffe.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	.scr2_coffe_machine2{
		display: block;
		position: absolute;
		top: 252px;
		height: 368px;
		width: 233px;
		right: -140%;   /* def 80%   */
		background: url(../img/coffe_machine2.png) no-repeat;
		background-position: center;
		z-index: 6;
	}
	.scr2_coffe_machine2_shadow{
		display: block;
		position: absolute;
		top: 452px;
		height: 368px;
		width: 233px;
		left: 140%;   /* def 81%   */
		background: url(../img/scr2_coffe_machine2_shadow.png) no-repeat;
		background-position: 90%;
		z-index: 6;
	}
	
	#scr2_coffe2{
		display: block;
		position: absolute;
		top: 513px;
		left: -70%;    /* DEF   14.5%   */ 
		width: 26%;
		height: 114px;
		background: url(../img/scr2_coffe2.png) no-repeat;
		background-size: contain;
		background-position: bottom;
		z-index: 5;
	}
	#scr2_coffe2_shadow{
		display: block;
		position: absolute;
		top: 569px;
		left: -70%;    /* DEF  16%   */
		width: 23%;
		height: 18%;
		background: url(../img/scr2_coffe2_shadow.png) no-repeat;
		background-size: contain;
		background-position: center ;
		z-index: 3;
	}
	#scr2_coffe3{
		display: block;
		position: absolute;
		top: 445px;
		left: -70%;    /*   DEF  10%   */
		width: 33%;
		height: 132px;
		background: url(../img/scr2_coffe3.png) no-repeat;
		background-size: contain;
		background-position: bottom;
		z-index: 4;
	}
	#scr2_coffe3_shadow{
		display: block;
		position: absolute; 
		top: 573px;
		left: -70%;    /*  DEF  10.7%   */
		width: 32%;
		height: 132px;
		background: url(../img/scr2_coffe3_shadow.png) no-repeat;
		background-size: contain;
		background-position: top;
	}
	
	
}		
/*   END SCREEN2   */

/*   BEGIN SCREEN3  */
.screen3{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 701px;
	background: url("../img/screen3.png") no-repeat;
	background-position: center;
	overflow: hidden;
	.scr3_txt1{
		display: inline-block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 32pt;
		margin-right: 10px;
		margin-top: 45px;
	}
	.scr3_txt2{
		display: inline-block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 32pt;
	}
	.scr3_txt3{
		display: block;
		position: relative;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 32pt;
	}
	.scr3_property{
		display: block;
		position: absolute;
		top: 215px;
		left: 40px;
		text-align: left;
		li{
			display: block;
			position: relative;
			margin-top: 60px;
			font-size: 14pt;
			font-family: 'Conv_Helvetica_Bold';
			color: #393939;
			background: url(../img/icon/scr3_o2.png) no-repeat;
			padding: 3px 0px 0px 60px;
		}
		span{
			display: block;
		}
		li:first-child{
			background: url(../img/icon/scr3_o1.png) no-repeat;
		}
		li:last-child{
			background: url(../img/icon/scr3_o3.png) no-repeat;
		}
		.scr3_property_li{
			left: -600px;
		}
	
	}
	.scr3_673{
		display: block;
		position: absolute;
		top: 460px;
		width: 275px;
		right: -80%;     /*   DEF    5%    */
		text-align: left;
		
		.scr3_txt4{
			display: inline-block;
			position: relative;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 32pt;
			color: $color_red;			
		}
		.scr3_txt5{
			display: inline-block;
			position: relative;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 32pt;
			color: $color_green;			
		}
		.scr3_txt6{
			display: inline-block;
			position: relative;
			margin-left: 7px;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 15pt;
			color: #393939;			
		}
		.scr3_txt7{
			display: inline-block;
			position: relative;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;
			font-size: 15pt;
			color: #393939;			
		}
		.scr3_txt8{
			display: inline-block;
			position: relative;
			margin-left: 7px;
			font-family: 'helvetica-2-ultraligh2ultraLt';
			font-family: 'helvetica-4-light4-light';
			font-weight: 100;			
			font-size: 15pt;
			color: #393939;	
			
		}
	}
	.scr3_txt9{
		display: block;
		position: absolute;
		top: 655px;
		height: 21px;
		right: 4%;
		font-family: 'Conv_Helvetica_Bold';
		font-size: 13pt;
		background: url(../img/icon/scr3_i.png) no-repeat;
		padding: 3px 0px 0px 35px;
		a{
			color: #393939;
			text-decoration: none;
			border-bottom: 1px dashed #c0c0c0;
		}
	}
	
	
	
	.scr3_separ{
		display: block;
		position: absolute;
		top: 200px;
		right: 50%;
		height: 452px;
		width: 6px;
		background: url(../img/scr2_separ.png) no-repeat;
		z-index: 5;
	}
	.scr3_italy{
		display: block;
		position: absolute;
		top: 185px;
		right: -80%;                    /*   DEF   8%   */
		width: 216px;
		height: 256px;
		background: url(../img/scr3_italy.png) no-repeat;
	}
	.scr3_coffe1{
		display: block;
		position: absolute;
		top: 262px;   /*  DEF 244  */
		right: 50%;
		width: 148px;
		height: 301px;
		background: url(../img/scr3_coffe1.png) no-repeat;
	}
	.scr3_coffe2{
		display: block;
		position: absolute;
		top: 262px;     /*     DEF 280          */
		left: 50%;
		width: 149px;
		height: 301px;
		background: url(../img/scr3_coffe2.png) no-repeat;
	}
		
}		
/*   END SCREEN3   */
/*   BEGIN SCREEN4  */
.screen4{
	display: block;
	position: relative;	
	max-width: 1002px;
	width: 100%;
	height: 703px;
	.scr4_green{
		display: block;
		position: relative;	
		width: 33%;
		height: 703px;
		background: url("../img/screen4_green.png") no-repeat;
		background-position: right;
		text-align: center;
		overflow: hidden;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 22pt;
			width: 40%;
			left: 30%;
			top: 30px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_1000{
			display: inline-block;
			position: relative;
			width: 40%;
			min-width: 140px;
			height: 250px;
			left: 130%;
			top: 110px;		
		}
		.img_m{
			display: none;
		}
		.scr4_new{
			display: none;
			position: absolute;
			right: 20%;
			top: 95px;
			width: 50px;
			height: 50px;
			background: url(../img/icon/scr4_new.png) no-repeat;
			font-family: 'Conv_Futuris_Bold';
			padding-top: 17px;
			color: #fff;
			font-size: 10pt;
		}
		ul{
			display: block;
			position: absolute;
			color: #fff;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 365px;
			left: 8%;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
			}
			.green1{
				background: url(../img/icon/scr4_point1.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 635px;
			width: 60%;
			left: 20%;
			height: 28px;
			background: url(../img/deliver.png) no-repeat 50% 0px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}
		.scr4_green_btn:hover{
			background-position: 50% -48px;
		}
		.scr4_green_btn:active{
			background-position: 50% -96px;
		}
		
	}
/*  BEGIN WHITE BLOCK */	
	.scr4_white{
		display: block;
		position: absolute;
		top: 0px;
		left: 33%;
		width: 35%;
		height: 703px;
		background: #fff;
		background-position: right;
		border-top: 1px solid #d8dee0;
		overflow: hidden;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 22pt;
			width: 40%;
			left: 30%;
			top: 30px;
			color: #393939;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_white_m{		
			display: none;
		}
		.img_white_1000{
			display: inline-block;
			position: relative;
			width: 208px;			
			height: 245px;
			top: 110px;		
			background-position: center;
			left: 130%;
		}		
		ul{
			display: block;
			position: absolute;
			color: #393939;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 365px;
			left: 8%;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;
				height: 34px;
			}
			.green1{
				background: url(../img/icon/scr4_piont_1_2.png) no-repeat;
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 635px;
			width: 60%;
			left: 20%;
			height: 28px;
			background: url(../img/deliver.png) no-repeat 50% 0px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}	
		.scr4_green_btn:hover{
			background-position: 50% -48px;
		}
		.scr4_green_btn:active{
			background-position: 50% -96px;
		}
	}
/*  END WHITE BLOCK */
/*  BEGIN RED BLOCK */
	.scr4_red{
		display: block;
		position: absolute;
		top: 0px;
		left: 67%;
		width: 33.1%;
		height: 703px;
		background: url("../img/screen4_red.png") no-repeat;
		background-position: right;
		overflow: hidden;
		.scr4_name{
			display: block;
			position: absolute;
			font-size: 22pt;
			width: 40%;
			left: 30%;
			top: 30px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
		}
		.img_red_m{
			display: none;
		}
		.img_red_1000{
			display: inline-block;
			position: relative;
			width: 208px;			
			height: 245px;
			top: 110px;		
			background-position: center;
			left: 130%;
		}		
		ul{
			display: block;
			position: absolute;
			color: #fff;
			font-size: 11pt;
			text-align: left;
			font-family: 'Conv_Helvetica_Bold';
			top: 365px;
			left: 8%;
			li{
				display: block;
				margin-top: 17px;
				padding-left: 48px;				
			}
			.green1{
				background: url(../img/icon/scr4_point1.png) no-repeat;				
			}
			.green2{
				background: url(../img/icon/scr4_point_2.png) no-repeat;
			}
			.green3{
				background: url(../img/icon/scr4_point_3.png) no-repeat;
			}
			.green4{
				background: url(../img/icon/scr4_point_4.png) no-repeat;
			}
			li:last-child{
				display: block;
				position: relative;
				margin-top: 17px;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 11px;
				padding-left: 58px;
				left: -11px;
				background-position: 2%;
			}
			span{
				display: block;
			}			
		}
		.scr4_green_btn{
			display: block;
			position: absolute;
			top: 635px;
			width: 60%;
			left: 20%;
			height: 28px;
			background: url(../img/deliver.png) no-repeat 50% 0px;
			color: #fff;
			font-family: 'Conv_Futuris_Bold';
			font-size: 9pt;
			padding-top: 10px;
		}	
		.scr4_green_btn:hover{
			background-position: 50% -48px;
		}
		.scr4_green_btn:active{
			background-position: 50% -96px;
		}
	}
/*  END RED BLOCK */	
	
}		
/*   END SCREEN4   */
/*   BEGIN SCREEN5  */
.screen5{
	display: block;
	position: relative;	
	max-width: 1000px;
	width: calc(100%-2px);
	height: 700px;
	background-color: #fff;
	border: 1px solid #d8dee0;
	background-position: center;
	overflow: hidden;
	.scr5_txt1{
		display: block;
		position: absolute; 
		top: 85px;
		left: 9%;
		font-family: 'Conv_Futuris_Bold';
		color: #393939;
		font-size: 40pt;
		background-color: #fff;
		z-index: 15;
	}
	.scr5_txt2{
		display: none;
		position: absolute; 
		top: 185px;
		left: 9%;
		font-family: 'helvetica-4-light4-light';
		font-weight: 100;	
		color: #393939;
		font-size: 32pt;
		background-color: #fff;
		z-index: 14;
	}
	.scr5_txt3{
		display: none;
		position: absolute; 
		top: 235px;
		left: 9%;
		font-family: 'helvetica-4-light4-light';
		font-weight: 100;	
		color: #393939;
		font-size: 32pt;
		background-color: #fff;
		z-index: 13;
	}
	.scr5_txt4{
		display: none;
		position: absolute;
		width: 300px;
		top: 290px;
		left: 9%;
		font-family: 'Conv_Futuris_Bold';
		color: $color_red;
		font-size: 36pt;
		text-align: left;
		background-color: #fff;
		z-index: 12;
	}
	.scr5_txt5{
		display: none;
		position: absolute; 
		top: 355px;
		left: 9%;
		font-family: 'Conv_Futuris_Bold';
		color: $color_green;
		font-size: 36pt;
		z-index: 5;
	}
	.scr5_txt6{
		display: block;
		position: absolute; 
		top: 446px;
		height: 60px;
		left: 42%;    /*   DEF  42%   */
		font-family: 'helvetica_neue';
		color: #393939;
		font-size: 17pt;
		background: url(../img/scr5_p10.png) no-repeat;
		padding: 16px 0px 0px 70px;
		z-index: 5;
		opacity: 0;
	}
	.btn_order{
		display: none;
		position: absolute; 
		top: 575px;
		width: 149px;
		height: 39px;
		left: 9%;
		font-family: 'Conv_Futuris_Bold';
		color: #fff;
		font-size: 12pt;
		background: url(../img/btn_order.png) no-repeat;
		background-position: 0px 0px;
		padding: 0px;
		z-index: 5;
	}
	
	.btn_order:hover{
		background-position: 0px -68px;
	}
	.btn_order:active{
		background-position: 0px -136px;
	}
	.scr5_coffes{
		display: block;
		position: absolute; 
		top: -70px;
		width: 478px;
		height: 597px;
		left: 39%;
		background: url(../img/scr5_coffes.png) no-repeat;
		z-index: 4;
	}
	.scr5_coffe_cap{
		display: none;
		position: absolute; 
		bottom: 0px;
		width: 468px;
		height: 393px;
		left: 49%;
		background: url(../img/scr5_coffe_cap.png) no-repeat;
		z-index: 2;
	}	
	.scr5_caps{
		display: block;
		position: absolute; 
		top: 463px;
		left: 9%;    /*  DEF  9%  */
		width: 303px;
		height: 31px;
		background: url(../img/scr5_caps.png) no-repeat;
		z-index: 3;
		opacity: 0;
	}
}		
/*   END SCREEN5   */
/*   BEGIN FOOTER  */
	.footer{
		display: block;
		position: relative;	
		max-width: 1002px;
		width: 100%;
		height: 200px;
		text-align: center;
		.footer_order{
			display: inline-block;
			position: relative;
			text-align: left;
			color: #393939;
			font-family: 'helvetica_neue';
			padding: 0px;
			top: 30px;
			li{
				display: inline-block;
				position: relative;
				font-size: 10pt;
				padding: 3px 0px 0px 45px;
				margin-left: 53px;
			}
			li:first-child{
				margin-left: 0px;
			}
			span{
				display: block;
			}
			a{
				color: $color_green;
			}
			.footer_order_1{
				background: url(../img/icon/footer_point1.png) no-repeat;
			}
			.footer_order_2{
				background: url(../img/icon/footer_point2.png) no-repeat;
			}
			.footer_order_3{
				background: url(../img/icon/footer_point3.png) no-repeat;
			}
			.footer_order_4{
				background: url(../img/icon/footer_point4.png) no-repeat;
			}
		}
		.footer_social{
			display: inline-block;
			position: relative; 
			background: url(../img/social.png) no-repeat;
			top: 80px;
			width: 493px;
			height: 22px;
		}
		.footer_copyrite{
			display: block;
			position: relative; 
			font-family: 'helvetica_neue';
			color: #7c7c7c;
			top: 95px;
			font-size: 10pt;
		}
		.footer_menu{
			display: none;
		}
		.footer_phone{
			display: none;
		}
	}
/*   END FOOTER    */
/*   BEGIN accessories  page   */
	h1{
		font-family: 'Conv_Futuris_Bold';
		font-size: 30pt;
		margin: 0px;
	}
	h2{
		font-family: 'Conv_Futuris_Bold';
		font-size: 18pt;
		margin: 0px;
	}
	h3{
		font-family: 'Conv_Helvetica_Bold';
		font-size: 13pt;
		margin: 0px;
	}
	
	.access_menu{
		display: block;
		position: relative;
		
		margin-top: 130px;
		height: 64px;
		width: 100%;
		padding: 0px;
		text-align: center;
		z-index: 3;
		li{
			display: inline-block;
			position: relative;
			border: 1px solid #d8dee0;
			border-bottom: 0px;
			width: 17.5%;
			height: 52px;
			color: #919a9d;
			cursor: pointer;
			padding-top: 12px;
		}
		li:first-child{
			border-right: 0;
			border-bottom: 0;
			background-color: #fff;
			height: 52px;
			color: #393939;
			cursor: default;
		}
		li:last-child{
			border-left: 0;
		}		
		span{
			display: block;
		}
	}
	.caption{
		display: block;
		position: relative;
		top: -1px;
		border: 1px solid #d8dee0;
		width: 100%;
		height: 65px;
		background-color: #fff;
		margin: 0px;
		padding-top: 13px;
	}
	.cont_status1{
		display: block;
		position: relative;
	}
	.cont_status2{
		display: none;
		position: relative;
	}
	.cont_status3{
		display: none;
		position: relative;
	}
	.access_container_item{
		/*display: block;
		position: relative;*/
		
		top: -2px;
		width: 100%;
		height: 1016px;
		border: 1px solid #d8dee0;
		color: #a02;
		.access_item{
			display: block;
			position: absolute;
			
			border: 1px solid #d8dee0;
			border-top: 0px;
			height: 508px;
			width: 33.3%;
			margin: 0;
			background-color: #fff;
			text-align: center;
			.access_name_item{
				display: block;
				position: relative;
				margin-top: 21px;
				width: 80%;
				left: 10%;
				text-align: middle;
				color: #393939;
			}
			.access_conteiner_img{
				display: inline-block;
				position: relative;
				width: 200px;
				height: 200px;
				line-height: 200px;
			img{
					display: inline-block;
					position: relative;
					vertical-align: middle;				
				}
			}
			.access_txt{
				display: inline-block;
				position: relative;
				margin-top: 20px;
				height: 170px;
				width: 240px;
				text-align: left;				
				.access_info{
					font-family: 'helvetica_neue';
					font-size: 11pt;
					color: #393939;
					padding: 7px 0px 0px 45px;
					background: url(../img/icon/info.png) no-repeat;
				}
				.access_coffe_info{
					display: block;
					position: relative;
					top: 8px;
					font-family: 'helvetica_neue';
					font-size: 11pt;
					color: #393939;
					padding: 6px 0px 0px 45px;
					background: url(../img/icon/point_cap.png) no-repeat;
				}
				.access_coffe_info2{
					display: block;
					position: relative;
					height: 27px;
					top: 17px;
					font-family: 'helvetica_neue';
					font-size: 11pt;
					color: #393939;
					padding: 6px 0px 0px 45px;
					background: url(../img/icon/point_coffe.png) no-repeat;
					span{
						font-weight: 900;
						font-size: 10pt;
					}
					
				}
				.access_rating{
					display: block;
					position: relative;
					top: 22px;
					font-family: 'helvetica_neue';
					font-size: 11pt;
					color: #393939;
					margin-left: 45px;
					line-height: 19px;
					img{
						display: inline-block;
						position: relative;
						vertical-align: middle;
					}
					.access_rating_img1{
						margin-left: 10px;
					}
				}
				.access_price{
					display: block;
					position: absolute;
					bottom: 15px;
					height: 27px;
					font-family: 'Conv_Futuris_Bold';
					font-size: 15pt;
					color: $color_red;
					padding: 3px 0px 0px 45px;
					background: url(../img/icon/price.png) no-repeat;
				}
			}
			.access_order{
				display: inline-block;
				position: relative;
				top: 5px;
				left: 0px;
				z-index: 100;
				width: 149px;
				height: 39px;
				background: url(../img/btn_order.png) no-repeat;
				background-position: 0px 0px;
				padding: 0px;
				z-index: 5;
				cursor: pointer;
			}			
			.access_order:hover{
				background-position: 0px -68px;
			}
			.access_order:active{
				background-position: 0px -136px;
			}
		}
		.access_item:hover{
			z-index: 3;
			-moz-box-shadow: 0 0 7px #aaa; 
			-webkit-box-shadow: 0 0 7px #aaa; 
			box-shadow: 0 0 7px  #aaa; 
		}
		.accessitem1{			
			top: 0px;
			left:-1px;
		}
		.accessitem2{
			display: block;
			position: absolute;
			top: 0px;
			left:33.3%;
			width: 33.4%;
		}
		.accessitem3{
			top: 0px;
			right: -1px;
		}
		.accessitem4{
			top: 509px;
			left:-1px;
		}
		.accessitem5{
			top: 509px;
			left:33.3%;
			width: 33.4%;
		}
		.accessitem6{
			top: 509px;
			right: -1px;
		}
	}
/*   END accessories  page   */
/*  BEGIN BASKET BLANK */
	.access_basket_blank{
		display: none;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 150%;
		line-height: 100%;
		background: url(../img/basket_fon.png);
		text-align: center;
		z-index: 200;
		.access_basket_body{
			display: inline-block;
			position: relative;
			max-width: 515px;	
			margin-top: 100px;
			width: 60%;
			background: url("../img/basket_fon_coffe.png") no-repeat;
			background-color: #fff;
			
			background-position: 50% 100%;
			.access_basket_header{
				display: block;
				position: relative;
				max-height: 54px;
				height: 100px;
				width: 100%;
				color: #fff;
				font-size: 30pt;
				background: url("../img/order_header.png");
				font-family: 'Conv_Futuris_Bold';
				padding-top: 9%;
				.basket_close{
					display: block;
					position: absolute;
					right: 15px;
					top: 15px;
					height: 15px;
					width: 15px;
					background: url(../img/icon/close.png) no-repeat;
					cursor: pointer;
				}
			}
			.basket_header_table{
				display: block;
				position: relative;
				height: 23px;
				width: 90%;
				left: 5%;
				border-bottom: 1px solid #d8dee0;
				color: #545454;
				text-align: left;
				font-family: 'helvetica_neue';
				font-size: 9pt;
				padding-top: 25px;
				.basket_colum1{
					display: inline-block;
					position: relative;
					left: 140px;
				}
				.basket_colum2{
					display: inline-block;
					position: relative;
					left: 290px;
				}
			}
			.basket_item_info:hover{
				z-index: 3;
				-moz-box-shadow: 0 0 7px #aaa; 
				-webkit-box-shadow: 0 0 7px #aaa; 
				box-shadow: 0 0 7px  #aaa; 
		}
			.basket_item_info{
				display: block;
				position: relative;				
				width: 90%;
				left: 5%;
				height: 100px;
				line-height: 100px;
				border-bottom: 1px solid #d8dee0;
				text-align: left;
				img{
					display: inline-block;
					position: relative;
					vertical-align: middle;
					left: 5px;
				}
				.basket_name_item{
					display: block;
					position: absolute;
					top: 28px;
					left: 120px;
					font-family: 'Conv_Futuris_Bold';
					font-size: 14pt;
					line-height: 15pt;
					color: #393939;
				}
				.basket_price_item{
					display: block;
					position: absolute;
					top: 55px;
					left: 120px;
					font-family: 'Conv_Futuris_Bold';
					font-size: 15pt;
					line-height: 15pt;
					color: $color_red;
				}				
				.basket_counter{
					display: block;
					position: absolute;
					top: 30px;
					right: 3%;
					width: 98px;
					height: 45px;
					background: url(../img/basket_counter_fon.png) no-repeat;
					input{
						display: block;
						position: absolute;
						width: 30px;
						top: 11px;
						left: 15px;
						border: none;
						font-family: 'Conv_Helvetica_Bold';
						font-size: 13pt;
						
					}
					textarea:focus, input:focus{
						outline: none;
					}
					.basket_counter_up{
						display: block;
						position: absolute;
						top: 9px;
						left: 69px;
						width: 12px;
						height: 7px;
						background: url(../img/icon/up.png) no-repeat;
						cursor: pointer;
					}
					.basket_counter_dwn{
						display: block;
						position: absolute;
						top: 25px;
						left: 69px;
						width: 12px;
						height: 7px;
						background: url(../img/icon/dwn.png) no-repeat;
						cursor: pointer;
					}
				}
				.basket_item_close{
					display: block;
					position: absolute;
					right: 5px;
					top: 5px;
					width: 12px;
					height: 12px;
					background: url(../img/icon/basket_item_close.png) no-repeat;
					cursor: pointer;
				}
				
				
			}
			.basket_end_price{
				display: block;
				position: relative;
				width: 85%;
				height: 30px;
				left: 5%;
				background-color: #f2f5f6;
				color: #393939;
				font-family: 'Conv_Futuris_Bold';
				font-size: 12pt;
				text-align: left;
				padding: 30px 0px 0px 5%;
				span{
					font-family: 'Conv_Futuris_Bold';
					font-size: 20pt;
					color: $color_red;
					margin-left: 37px;
			}
				
			}
			
			
			.basket_issue_order{
				display: inline-block;
				position: relative;
				margin: 35px 10% 35px 10%;
				width: 194px;				
				height: 40px;
				background: url(../img/issue.png) no-repeat;
				background-position: 50% 0px;
				cursor: pointer;
			}
			.basket_issue_order:hover{
				background-position: 50% -58px;	
			}
			.basket_issue_order:active{
				background-position: 50% -116px;	
			}
		}
		
		
		
		
		.access_order_registr{
			/*display: inline-block;*//**********************************************************/
			display: none;
			position: relative;
			max-width: 515px;	
			margin-top: 100px;
			width: 60%;
			height: 648px;
			background: url("../img/basket_fon_coffe.png") no-repeat;
			background-color: #fff;
			text-align: center;
			background-position: 50% 100%;
			.access_basket_header{
				display: block;
				position: relative;
				max-height: 54px;
				height: 100px;
				width: 100%;
				color: #fff;
				font-size: 30pt;
				background: url("../img/order_header.png");
				font-family: 'Conv_Futuris_Bold';
				padding-top: 9%;
				.basket_close{
					display: block;
					position: absolute;
					right: 15px;
					top: 15px;
					height: 15px;
					width: 15px;
					background: url(../img/icon/close.png) no-repeat;
					cursor: pointer;
				}
			}
			.access_order_registr_fio{
				display: inline-block;
				position: relative;
				margin-top: 40px;
				font-size: 10pt;
				text-align: left;
				font-family: 'helvetica_neue';
				font-size: 10pt;
				color: #545454;
				input{
					display: block;
					position: relative;
					top: 10px;
					border: none;
					font-family: 'Conv_Helvetica_Bold';
					font-size: 13pt;
					height: 43px;
					width: 313px;
					color: #393939;
					background: url(../img/icon/txt_fon.png) no-repeat;
					padding: 0px 20px 0px 20px;
					outline: none;
		
				}
			}
			.access_order_registr_city{
				display: inline-block;
				position: relative;
				margin-top: 40px;
				font-size: 10pt;
				text-align: left;
				font-family: 'helvetica_neue';
				font-size: 10pt;
				color: #545454;
				select{
					display: block;
					position: relative;
					top: 10px;
					border: none;
					font-family: 'Conv_Helvetica_Bold';
					font-size: 13pt;
					height: 43px;
					width: 313px;
					color: #393939;
					background: url(../img/icon/txt_fon.png) no-repeat;
					padding: 0px 20px 0px 20px;
				}
/* **********************************************************************/						
	.pseudo-select {
        display: block;
		position: relative;		
        font-size: 18px;
        font-family: verdana;
		padding-top: 8px;
		height: 43px;
		width: 352px;
		border: none;
		margin-top: 10px;
		background: url("../img/icon/select_fon.png") no-repeat;
    }
    .pseudo-select .select {
        color: #555;
        cursor: pointer;
        /*border: 1px solid #BBB;*/
        padding: 19px 2px 3px 20px;
        width: 353px;
		height: 40px;
        
    }
    .pseudo-select .select:hover, .pseudo-select .options:hover {
        /*border: 1px solid #c6c6c6;*/
        color: #333;
    }
    .pseudo-select .options {
		display: block;
        position: absolute;
        top: 41px;
        left: 0;
        width: 349px;
		height: 88px;
        border: 1px solid #BBB;
        background: #fff;
        z-index: 10;
        display: none;   
		overflow-y: scroll;
		
    }
    .pseudo-select .options > div {
		height: 1px;
        padding: 16px 2px 3px 8px;
        cursor: pointer;
    }
    .pseudo-select .options > div:hover {
		padding: 16px 2px 3px 8px;
        background: #eee;
    }
    .pseudo-select .options > div.check {
        background: #e1e1e1;
		padding: 16px 2px 3px 8px;
    }
/* **********************************************************************/						
	.city123{
		
		margin-top: 20px;
		background: url(../img/icon/select_fon.png) no-repeat;

	}
			}
			.access_order_deliver{
				display: inline-block;
				position: relativel;
				width: 100%;
				font-family: 'helvetica_neue';
				font-size: 10pt;
				color: #545454;
				margin-top: 0px;
				width: 353px;
				text-align: left;
				ul{
					display: inline-block;
					padding-left: 0px;
				}	
				li{
					display: inline-block;
					font-family: 'Conv_Helvetica_Bold';
					font-weight: 900;
					font-size: 11pt;
					margin-left: 20px;
				}
/* ====================== стилизаци радио кнопки ============================================== */				
				input[type="radio"] {
					display:none;
				}
				input[type="radio"] + label span {
					display:inline-block;
					width:22px;
					height:22px;
					margin:-1px 4px 0 0;
					vertical-align:middle;
					background:url(../img/icon/radio_off.png) no-repeat;
					cursor:pointer;
				}
				input[type="radio"]:checked + label span {
					background:url(../img/icon/radio_on.png) no-repeat;
				}
/* ==================================================================== */	
			}

			.access_order_spam{
				display: inline-block;
				position: relative;
				margin-top: 20px;
				left: 15%;
				text-align: left;
				font-family: 'helvetica_neue';
				font-size: 10pt;
				color: #545454;
				width: 100%;
/* ====================== стилизаци чекбокса ============================================== */				
				input[type="checkbox"] {
					display: none;
				}
				input[type="checkbox"] + label span {
					display:inline-block;
					width:22px;
					height:22px;
					margin:-1px 4px 0 0;
					vertical-align:middle;
					background:url(../img/icon/checkbox_off.jpg) no-repeat;
					cursor:pointer;
				}
				input[type="checkbox"]:checked + label span {
					background:url(../img/icon/checkbox_on.png) no-repeat;
				}
/* ==================================================================== */	
			
			}
			.access_order_coments{
				display: inline-block;
				position: relativel;
				width: 100%;
				font-family: 'helvetica_neue';
				font-size: 10pt;
				color: #545454;
				margin-top: 11px;
				width: 353px;
				text-align: left;
				margin-top: 15px;
			}
			.access_order_coments_fill{
				display: inline-block;
				position: relative;
				margin-top: 12px;
				width: 333px;
				padding: 5px 10px 5px 10px;
				height: 103px;
				outline: none;
				border: none;
				background:url(../img/icon/txtarea_fon.jpg) no-repeat;				
				wrap: soft;
				resize: none;
			}
			.btn_registr{
				display: inline-block;
				position: relative;
				margin-top: 35px;
				width: 149px;
				height: 39px;
				background: url(../img/btn_order.png) no-repeat;
				background-position: 0px 0px;
				border: none;
			}
			.btn_registr:hover{
				background-position: 0px -68px;
			}
			.btn_registr:active{
				background-position: 0px -136px;
			}
			
			
		}
		
		
		
		
		
	}


/*  END BASKET BLANK */
/*BEGIN TXT    */
	.blok1_first{
		display: block; 
		position: relative;
		margin-top: 95px;
		max-width: 1002px;
		width: 86%;
		background-color: #fff;
		padding: 42px 7% 38px 7%;
		text-align: left;
		border: 1px solid #d8dee0;
		p{
			margin-top: 32px;
			font-family: 'helvetica_neue';
			font-size: 13pt;
			color: #393939;
			line-height: 1.2em;
		}
	}
	.blok1{
		display: block; 
		position: relative;		
		max-width: 1002px;
		width: 86%;
		background-color: #fff;
		padding: 42px 7% 38px 7%;
		text-align: left;
		border: 1px solid #d8dee0;
		border-top: none;
		p{
			margin-top: 32px;
			font-family: 'helvetica_neue';
			font-size: 13pt;
			color: #393939;
			line-height: 1.2em;
		}
		.img_left{
			float: right;
			margin-left: 10%;
			width: 40%;
		}
	}
	.blok3{
		display: block; 
		position: relative;		
		max-width: 1002px;
		width: 93%;
		background-color: #fff;
		padding: 1px 7% 38px 0%;
		text-align: left;
		border: 1px solid #d8dee0;
		border-top: none;	
		.txt_img_3{
			float: left;
			top: -42px;
			left: -7%;
			margin-right: 15%;
			width: 43%;
		}
		h2{
			
			margin-top: 42px;
		}
			p{
				margin-top: 32px;
				font-family: 'helvetica_neue';
				font-size: 13pt;
				color: #393939;
				line-height: 1.2em;
			}
		
			#scr1_property{
				display: inline-block;
				position: relative;
				top: 30px;
				left: 0px;
				padding: 0px;
				z-index: 5;
				margin-bottom: 50px;
				li{
					display: inline-block;
					position: relative;
					width: 68px;
					height: 68px;
					margin-left: 9px;
					background: url(../img/icon/pro.png) no-repeat;
					
				}
				li:first-child{
					background: url(../img/icon/20bar.png) no-repeat;
					margin-left: 0px;
				}
				li:last-child{
					background: url(../img/icon/italy.png) no-repeat;
				}
			}
		
		.block100{
			display: block;
			position: relative;
			width: 100%;
			height: 1px;
		}
	}
	.blok4{
		display: block; 
		position: relative;		
		max-width: 1002px;
		width: 86%;
		background-color: #fff;
		padding: 42px 7% 38px 7%;
		text-align: left;
		border: 1px solid #d8dee0;
		border-top: none;	
		.txt_img_4{
			float: right;
			top: -42px;
			left: -7%;
			margin-right: 2%;
			margin-left: 12.5%;
			width: 40%;
		}
		h2{
			
			margin-top: 20px;
		}
		p{
			margin-top: 32px;
			font-family: 'helvetica_neue';
			font-size: 13pt;
			color: #393939;
			line-height: 1.2em;
		}
		.btn_order{
			display: block;
			position: relative; 
			top: 5px;
			width: 149px;
			height: 39px;
			margin-bottom: 25px;
			left: 0%;
			font-family: 'Conv_Futuris_Bold';
			color: #fff;
			font-size: 12pt;
			background: url(../img/btn_order.png) no-repeat;
			background-position: 0px 0px;
			padding: 0px;
			z-index: 5;
		}
		
		.btn_order:hover{
			background-position: 0px -68px;
		}
		.btn_order:active{
			background-position: 0px -136px;
		}
	}
/*   END TXT    */

}